.App {
  background-color: rgb(0,40,50);
  display: grid;
  max-width: 100%;
  grid-template-columns: 320px;
  grid-template-rows: auto;
  grid-auto-columns: 320px;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  padding: 0;
  margin: 20px 0 20px 0;
  max-width: 800px;
}

.TextRenderer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 6px solid rgb(0,55,65);
  background-color: rgb(0,30,40);
  padding: 10px;
  grid-column: 1 / 3;
}

.Title {
  grid-row: 1 / span 1;
  grid-column: 1 / 3;
}

@media screen and (max-width: 726px) {
  #editorGrid {
    grid-row: 2 / span 1;
    grid-column: 1 / 1;
  }
  .ButtonPanel {
    grid-row: 3 / span 1;
    grid-column: 1 / 1;
  }

  .TextRenderer {
    grid-column: 1 / 1;
  }
  .Title {
    grid-row: 1 / span 1;
    grid-column: 1 / 1;
  }
}

.TextRenderer__title {
  font-size: 14px;
  text-align: center;
  color: rgb(0,190,200);
  background-color: black;
  border: 6px solid rgb(0,55,65);
  width: max-content;
  padding: 10px;
  margin: -40px 0 15px 0;
  border-radius: 25px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: rgb(0,40,50);
  color: rgb(240, 10, 0);
}

/*

  moved this CSS into StyledGrid component

  #editorGrid {
  background-color: rgb(0, 55, 65);
  padding: 2px;
  width: 320px;
  height: 320px;
  border: 3px solid rgb(0, 55, 65);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  justify-content: start;
  align-items: start;
  align-content: start;
  margin: 0px;
}

.box {
  cursor: pointer;
  border: 1px solid rgb(0, 55, 65);
  transition-property: all;
  transition-duration: 0.1s;
  background-color: rgb(0,40,50);
}

.box:hover {
  filter: brightness(1.25);
}

.box:active {
  border: 1px solid rgb(10, 240, 0);
  background-color: rgb(100, 255, 0);
  transform: scale(0.9);
  filter: contrast(1.5) brightness(2);
  box-shadow: 0 0 30px 15px rgba(40, 255, 0, .5);
}

.box.selected {
  background-color: rgb(10, 160, 0);
  border-width: 2px;
  border-color: rgba(0, 55, 65, 0.1) rgba(0, 55, 65, 0.2) rgba(0, 55, 65, 0.3) rgba(0, 55, 65, 0.1);
  border-style: solid;
}

*/
